:root {
  --main-color: rgb(255, 245, 224);
  --hover-: rgb(255, 167, 86);
  --hover-2: rgb(224, 176, 60);
  --button-color: rgb(45, 48, 151);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Start of Navigation Bar*/
.navbar {
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  font-size: 16px;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.15);
  background-color: var(--main-color);
}
.logo > a > img {
  margin: 10px;
  width: 520px;
}
.nav-items {
  display: inline-block;
  padding: 10px;
}
.nav-links {
  text-decoration: none;
  color: black;
  font-size: 18px;
}

.nav-links:hover {
  color: var(--hover-2);
}
label:hover {
  color: var(--hover-2);
}
.navbar ul li {
  position: relative;
}
.nav-items {
  position: relative;
}
.nav-items::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: var(--hover-);
  left: 0;
  bottom: -1px;
  opacity: 0;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s ease;
  pointer-events: none;
}
.nav-items:hover::before {
  transform: scaleX(1);
  transform-origin: left;
  opacity: 1;
}

/*Start of Sub Menu Section*/
.sub-menu {
  display: none;
  position: relative;
}
.sub-menu ul {
  display: block;
  margin-right: 8px;
}
.sub-menu ul li {
  width: 100%;
}
.subs {
  font-size: 18px;
}
.subs.active > .sub-menu {
  display: block;
  position: absolute;
  left: 0;
  top: 100%;
  background-color: var(--main-color);
  z-index: 5;
}
.subs.active > .arrow {
  transform: rotate(180deg);
  transition: 0.5s all ease-in;
}
/*Start of Arrow Animation*/
input[type="checkbox"]:checked ~ .sub-menu {
  display: block;
  position: absolute;
  left: 0;
  top: 100%;
  background-color: var(--main-color);
}
input[type="checkbox"]:checked ~ .arrow {
  transform: rotate(180deg);
  transition: 0.5s all ease-in;
}

/*End of Arrow Animation*/

/*Start of Hamburger Menu*/
.navham {
  display: none;
  cursor: pointer;
  padding-right: 1rem;
}
.bar {
  display: block;
  width: 33px;
  height: 5px;
  background-color: black;
  margin: 5px;
  border-radius: 5px;
}
/*End of Hamburger Menu*/
/*End of Navigation Bar*/

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--main-color);
}

/*Global Variables*/
.min-height {
  min-height: 80vh;
}

/*Start of Home Section*/
#Home {
  width: 100%;
  background-image: url("/assets/banner/Hero.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.contents {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.details {
  padding: 20px;
}
.details > h1 {
  text-align: justify;
  padding-bottom: 30px;
}
.introduction {
  padding-bottom: 30px;
  text-align: justify;
}
.details > h1 {
  font-size: 25px;
  font-weight: bold;
}
.more > a {
  color: black;
  border: 2px solid black;
  padding: 10px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 500;
  
}
.registern{
  background-color: var(--button-color);
}
.registern:hover{
  color: black;
}
.more > a:hover {
  background-color: var(--hover-);
  transition: 0.3s;
  color: black;
}

.img-content > img {
  width: 600px;
  margin: 10px;
}

/*Start of Registration*/
.Registration {
  width: 100%;
}
.containers {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.infor {
  background-color: rgb(80, 200, 120);
  width: 100dvw;
  min-height: 90dvh;
  display: flex;
  justify-content: center;

  flex-wrap: wrap;
  flex-direction: column;
  padding: 10dvh;
}
.infor> h2{
  font-size: 2em;
  color: white;
  padding-bottom: 5px;
}
.infor > h3{
  font-size: 2em;
  color: white;
  padding-bottom: 5px;
}

.perps {
  padding-bottom: 20px;
}

.button {
  text-decoration: none;
  border: 1px solid black;
  padding: 10px;
  color: white;
  border-radius: 5px;
  background-color: var(--button-color);
}
.button:hover {
  background-color: rgb(232, 228, 201);
  color: #2f2f2f;
}
.imgs {
  display: flex;
  justify-content: center;
}
.imgs > img {
  width: 365px;
}
/*End of Registration*/

/*Start of Mission & Vision*/
.MisVis {
  width: 100%;
}

.contains {
  display: flex;
  justify-content: space-evenly;
}
.mission,
.vision,
.core-values {
  width: 33%;
  border: 1px solid black;
  margin: 10px;
  padding: 15px;
  text-align: justify;
}
.intro {
  text-align: center;
  color: black;
}
.logos {
  display: flex;
  justify-content: center;
  align-items: stretch;
}
.logos > img {
  height: 12dvh;
}
.buttons {
  display: flex;
  justify-content: center;
  margin: 30px;
}
.buttons > a {
  border: 1px solid black;
  padding: 10px 30px 10px;
  text-decoration: none;
  border-radius: 5px;
  color: beige;
  background-color: var(--button-color);
  text-align: center;
}
.buttons > a:hover {
  background-color: rgb(232, 228, 201);
  color: #2f2f2f;
}
/*End of Mission & Vision*/
.Resourcess {
  width: 100%;
  background-color: rgb(80, 200, 120);
}
.Resourcess > h1 {
  color: white;
  padding-bottom: 15px;
}
.def-height {
  min-height: 100vh;
}
.content {
  display: flex;
  justify-content: space-evenly;
}
.content > div {
  width: 75%;
  margin: 0 30px;
}

.titless {
  text-align: center;
  font-size: 1.2rem;
  color: black;
  border-radius: 5px;
  padding: 10px 20px 10px;
  background-color: var(--main-color);
}
.rep-list {
  padding-top: 10px;
}
.reps {
  list-style: none;
  padding: 5px;
}
.reps > span {
  font-weight: 600;
  font-size: 1.3em;
}
.reps > a {
  text-decoration: none;
  color: var(--main-color);
}

/*Start of Footer*/
.footer {
  width: 100%;
  background-color: var(--main-color);
  color: #2f2f2f;
}
.main-element {
  display: flex;
  justify-content: space-evenly;
  padding: 15px;
}
.numbers {
  display: flex;
  flex-direction: column;
}
.numbers > a {
  text-decoration: none;
  color: #2f2f2f;
}
@media (width > 650px) {
  .informations {
    padding-top: 20dvh;
    padding-bottom: 30dvh;
  }
  .Resourcess {
    padding: 10dvh;
  }
}
@media (width < 720px) {
  .navham {
    display: block;
    z-index: 2;
  }

  .navham.active .bar:nth-child(2) {
    opacity: 0;
  }
  .navham.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .navham.active .bar:nth-child(3) {
    transform: translateY(-11px) rotate(-45deg);
  }
  .navbar li {
    display: block;
    padding-left: 4rem;
  }
  .navlist {
    opacity: 1;
    position: fixed;
    top: -100%;
    background-color: var(--main-color);
    width: 50%;
    height: 100%;

    transition: 0.5s;
    z-index: 0;
    right: 0;
  }
  .nav-item {
    margin: 16px 10px;
  }
  .navlist.active {
    top: 99px;
  }

  .contents {
    flex-direction: column;
  }
  .details > h1 {
    text-align: center;
    font-size: 20px;
  }
  .details > p {
    font-size: 15px;
  }
  .img-content > img {
    width: 380px;
  }
  .more {
    display: flex;
    justify-content: center;
    margin: px;
  }
  .more > a {
    margin: 5px;
  }
  .button {
    color: white;
  }
  .scroller__inner > img {
    width: 60px;
  }
  .logo > a > img {
    margin-left: 0px;
    width: 280px;
  }
  br {
    display: none;
  }
  .introduction {
    text-align: justify;
    font-size: 15px;
  }

  .informations {
    padding-bottom: 35dvh;
  }
  .imgs {
    display: none;
  }

  .contains {
    margin: 10px;
    flex-wrap: wrap;
  }
  .mission,
  .vision,
  .core-values {
    text-align: justify;
    width: 100%;
    padding: 10px;
  }
  .content {
    flex-wrap: wrap;
  }
  .main-element {
    display: flex;
    justify-content: space-evenly;

    flex-direction: column;
  }
  .numbers {
    padding-top: 20px;
  }
}

@media (width < 420px) {
  .logo > a > img {
    margin-left: 0px;
    width: 300px;
  }
  .img-content > img {
    width: 350px;
  }
}
